@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat|Ubuntu');

html, body {
    margin      : 0;
    padding     : 0;
    font-family : 'Verdana', sans-serif;
    background  : whitesmoke;
}

header {
    position        : relative;
    z-index         : 10;
    display         : flex;
    flex-direction  : row;
    justify-content : center;

    color           : white;
    background      : #6F9FD8;
    background      : -webkit-linear-gradient(to right, #6F9FD8, #4e589b);
    background      : linear-gradient(to right, #6F9FD8, #4e589b);
    padding-bottom  : -10%;
}

header img {
    margin             : 20% 4% -2% -4%;
    border             : 2px solid transparent;
    border-radius      : 50%;

    -webkit-transition : all 0.3s;
    -moz-transition    : all 0.3s;
    -o-transition      : all 0.3s;
    transition         : all 0.3s;
}

header img:hover {
    cursor             : pointer;
    border             : 2px solid white;

    -webkit-transition : all 0.3s;
    -moz-transition    : all 0.3s;
    -o-transition      : all 0.3s;
    transition         : all 0.3s;

    -webkit-transform  : scale(1.2, 1.2);
    -moz-transform     : scale(1.2, 1.2);
    -ms-transform      : scale(1.2, 1.2);
    -o-transform       : scale(1.2, 1.2);
    transform          : scale(1.2 1.2);
}
p{
    font-family: 'Montserrat', sans-serif;
}
header .aa_title {
    text-align : center;
    margin     : 0.12% 0 0.5% 2%;
}

header .aa_title h1 {
    font-family : 'Permanent Marker', cursive;
    font-size   : 75px;
}
header .aa_title p {
    font-family : 'Roboto', sans-serif;
}

header .aa_social-media {
    position       : absolute;
    z-index        : 10;
    right          : 2%;
    top            : 10%;

    display        : flex;
    flex-direction : row;
}

header .aa_social-media a {
    margin             : 0 10px;
    color              : white;
    font-size          : 30px;

    -webkit-transition : all 0.7s ease-in-out;
    -moz-transition    : all 0.7s ease-in-out;
    -o-transition      : all 0.7s ease-in-out;
    transition         : all 0.7s ease-in-out;
}

header .aa_social-media a:hover {
    color              : #46a6ff;

    -webkit-transition : all 0.7s ease-in-out;
    -moz-transition    : all 0.7s ease-in-out;
    -o-transition      : all 0.7s ease-in-out;
    transition         : all 0.7s ease-in-out;

    -webkit-transform  : rotate(360deg);
    -moz-transform     : rotate(360deg);
    -ms-transform      : rotate(360deg);
    -o-transform       : rotate(360deg);
    transform          : rotate(360deg);
}

.aa_breaker {
    position          : relative;
    padding           : 3.5%;
    margin-top        : -4%;

    background        : #6F9FD8;
    background        : -webkit-linear-gradient(to right, #6F9FD8, #4e589b);
    background        : linear-gradient(to right, #6F9FD8, #4e589b);

    -webkit-transform : skewY(-3deg);
    -moz-transform    : skewY(-3deg);
    -ms-transform     : skewY(-3deg);
    -o-transform      : skewY(-3deg);
    transform         : skewY(-3deg);
}
h2.aa_about {
    color          : rgba(29, 30, 35, 0.87);
    margin         : 10% 0 -5% 0;
    text-align     : center;
    text-transform : uppercase;
}

h2.aa_cmpt {
    color          : rgba(29, 30, 35, 0.87);
    margin         : 10% 0 5% 0;
    text-align     : center;
    text-transform : uppercase;
}

section.aa_about-me, section.aa_competences, section.aa_need-help, section.aa_contact {
    width       : 900px;
    padding-top : 10%;
    margin      : auto;
    color       : gray;
    text-align  : center;
}
section.aa_competences{
    padding-top: 0;
}

.chart {
    position           : relative;
    display            : inline-block;
    margin             : 20px 10px;
    color              : gray;
    font-size          : 20px;
    text-align         : center;
    -webkit-transition : all 0.2s ease-in-out;
    -moz-transition    : all 0.2s ease-in-out;
    -o-transition      : all 0.2s ease-in-out;
    transition         : all 0.2s ease-in-out;
}

.chart:hover {
    -webkit-transform  : scale(1.2, 1.2);
    -moz-transform     : scale(1.2, 1.2);
    -ms-transform      : scale(1.2, 1.2);
    -o-transform       : scale(1.2, 1.2);
    transform          : scale(1.2 1.2);

    -webkit-transition : all 0.2s ease-in-out;
    -moz-transition    : all 0.2s ease-in-out;
    -o-transition      : all 0.2s ease-in-out;
    transition         : all 0.2s ease-in-out;
    cursor             : pointer;
}
.chart canvas {
    position : absolute;
    top      : 0;
    left     : 0;
}

.progress {
    margin             : 10px 20px 30px 20px;
    font-size          : 17px;

    -webkit-transition : 0.7s;
    -moz-transition    : 0.7s;
    -o-transition      : 0.7s;
    transition         : 0.7s;
}

.bg-success {
    background : #2B81AF !important;
}



.aa_portfolio-content h3 {
    margin : 5% 0 7.5% 0;
}

.aa_portfolio-content h3 a{
    color          : rgba(29, 30, 35, 0.87);

    -webkit-transition : all 0.3s;
    -moz-transition    : all 0.3s;
    -o-transition      : all 0.3s;
    transition         : all 0.3s;
}

.aa_portfolio-content h3 a:hover{
    color: #66b9ff;
    letter-spacing: 1.4px;
    text-decoration: none;

    -webkit-transition : all 0.3s;
    -moz-transition    : all 0.3s;
    -o-transition      : all 0.3s;
    transition         : all 0.3s;
}

.aa_portfolio {
    position   : relative;
    z-index    : 10;
    background        : #6F9FD8;
    background        : -webkit-linear-gradient(to right, #6F9FD8, #4e589b);
    background        : linear-gradient(to right, #6F9FD8, #4e589b);
    padding: 3%;
    margin: 15% 0 5% 0;

}

.aa_portfolio-content {
    position        : relative;
    z-index         : 10;
    display         : flex;
    flex-direction  : row;
    justify-content : center;
    margin          : auto;
    width           : 95%;
}

.aa_my-works{
    color: white;
    text-align : center;
    text-transform: uppercase;
    margin: 2% 0 5% 0;
}

.aa_portfolio-list {
    margin             : 0 2%;
    text-align         : center;

    background         : #ADA996;
    background         : -webkit-linear-gradient(to right, #EAEAEA, #faf8f7, #F2F2F2, #faf8f7);
    background         : linear-gradient(to right, #EAEAEA, #faf8f7, #F2F2F2, #faf8f7);

    -webkit-transition : all 0.3s;
    -moz-transition    : all 0.3s;
    -o-transition      : all 0.3s;
    transition         : all 0.3s;
}

.aa_portfolio-list:hover {
    transform          : translate3d(0, -10px, 0);
    -webkit-transition : all 0.3s;
    -moz-transition    : all 0.3s;
    -o-transition      : all 0.3s;
    transition         : all 0.3s;
}

.html5, .bootstrap, .css3, .php, .js {
    color         : #4e589b;
    font-family   : 'Montserrat', sans-serif;
    padding       : 2%;
    margin        : 0 5px;
    width         : 0;
    height        : 0;
    border        : 1px solid #4e589b;
    border-radius : 3px;
    font-size     : 17px;
}


.aa_litle{
    font-size: 14px;
}


h2.aa_ndh, h2.aa_c {
    margin-top     : 10%;
    margin-bottom  : 5%;
    text-align     : center;
    text-transform : uppercase;
}

.aa_list-services {
    margin-top     : 5%;
    margin-bottom  : 10%;
    display        : flex;
    flex-direction : row;
}

h4 {
    background  : #6F9FD8;
    padding     : 5% 10% 5% 10%;
    overflow    : hidden;
    color       : white;
    font-size   : 22px;
    font-family : 'Verdana', sans-serif;
}

ol {
    list-style-type : none;
    margin          : 0;
    padding         : 5%;
}

ol li{
    margin-bottom: 5%;
}

hr.aa_dashed-bar {
    border : 1px dashed #6F9FD8;
}

p.aa_marge {
    margin-top : 5%;
}

p.aa_price {
    font-size   : 50px;
    font-family : 'Lobster', cursive;
}

.aa_services {
    border             : 2px solid #6F9FD8;
    border-radius      : 20px 0 20px 0;
    background         : white;
    text-align         : center;
    margin             : 0 3%;
    overflow-y         : hidden;

    -webkit-transition : all 0.3s ease-in-out;
    -moz-transition    : all 0.3s ease-in-out;
    -o-transition      : all 0.3s ease-in-out;
    transition         : all 0.3s ease-in-out;
}

.aa_services:hover {
    -webkit-transition : all 0.3s ease-in-out;
    -moz-transition    : all 0.3s ease-in-out;
    -o-transition      : all 0.3s ease-in-out;
    transition         : all 0.3s ease-in-out;

    -webkit-transform  : translate3d(0, -10px, 0);
    -moz-transform     : translate3d(0, -10px, 0);
    -ms-transform      : translate3d(0, -10px, 0);
    -o-transform       : translate3d(0, -10px, 0);
    transform          : translate3d(0, -10px, 0);
    font-weight        : normal;
    cursor             : pointer;
}

a.aa_srv {
    padding            : 3%;
    border             : 1px solid transparent;
    background         : #4e589b;
    color              : white;
    border-radius      : 5px;

    -webkit-transition : all 0.3s ease-in-out;
    -moz-transition    : all 0.3s ease-in-out;
    -o-transition      : all 0.3s ease-in-out;
    transition         : all 0.3s ease-in-out;
}

a.aa_srv:hover {
    background-color   : white;
    border             : 1px solid #4e589b;
    color              : #4e589b;
    text-decoration    : none;

    -webkit-transition : all 0.3s ease-in-out;
    -moz-transition    : all 0.3s ease-in-out;
    -o-transition      : all 0.3s ease-in-out;
    transition         : all 0.3s ease-in-out;
}

.aa_redirect {
    position : absolute;
    z-index  : 10;
    left     : 2%;
    top      : 10%;
}

.aa_redirect a {
    color              : white;
    padding            : 5% 25% 5% 25%;
    font-size          : 30px;
    border-radius      : 50%;
    -webkit-transition : all 0.3s ease-in-out;
    -moz-transition    : all 0.3s ease-in-out;
    -o-transition      : all 0.3s ease-in-out;
    transition         : all 0.3s ease-in-out;
}

.aa_redirect a:hover {
    padding            : 5% 25% 5% 25%;
    background-color   : white;
    color              : #6F9FD8;
    border-radius      : 50%;
    -webkit-transition : all 0.3s ease-in-out;
    -moz-transition    : all 0.3s ease-in-out;
    -o-transition      : all 0.3s ease-in-out;
    transition         : all 0.3s ease-in-out;
}

section.aa_contact {
    margin-top : -5%;
}

a.aa_goto {
    color              : #2B81AF;
    -webkit-transition : all 0.3s ease-in-out;
    -moz-transition    : all 0.3s ease-in-out;
    -o-transition      : all 0.3s ease-in-out;
    transition         : all 0.3s ease-in-out;
}

a.aa_goto:hover {
    letter-spacing     : 1.4px;
    text-decoration    : none;
    -webkit-transition : all 0.3s ease-in-out;
    -moz-transition    : all 0.3s ease-in-out;
    -o-transition      : all 0.3s ease-in-out;
    transition         : all 0.3s ease-in-out;
}

.aa_breaker-4{
    position          : relative;
    z-index           : 5;
    padding           : 4%;
    margin-top        : 10%;

    background        : #6F9FD8;
    background        : -webkit-linear-gradient(to right, #6F9FD8, #4e589b);
    background        : linear-gradient(to right, #6F9FD8, #4e589b);

    -webkit-transform : skewY(-3deg);
    -moz-transform    : skewY(-3deg);
    -ms-transform     : skewY(-3deg);
    -o-transform      : skewY(-3deg);
    transform         : skewY(-3deg);
}

.aa_foot {
    position   : relative;
    z-index    : 50;
    padding    : 2.5%;
    margin-top : -4.5%;
    background : #6F9FD8;
    background : -webkit-linear-gradient(to right, #6F9FD8, #4e589b);
    background : linear-gradient(to right, #6F9FD8, #4e589b);
}


