@media all and (max-width: 1230px){
    .aa_none{
        display : none;
    }
}

@media all and (max-width: 850px){
    .aa_list-services{
        flex-direction : column;
    }
    .aa_services{
        margin: 5% 15%;
    }
    section.aa_about-me, section.aa_competences, section.aa_need-help, section.aa_contact{
        width: auto;
    }
    header .aa_social-media {
        position       : absolute;
        z-index        : 10;
        right          : 2%;
        top            : 10%;
        display        : flex;
        flex-direction: column;
    }
}
@media all and (max-width: 700px){
    .aa_portfolio-content{
        flex-direction: column;
    }
    .aa_portfolio-list{
        margin: 5% 15%;
    }
    .aa_portfolio-img{
        width: 100%;
        height: auto;
    }

}
@media all and (max-width: 650px){
    header .aa_social-media{
        position       : initial;
        z-index        : 10;
        display        : flex;
        flex-direction : row;
        justify-content: center;
        margin-top: 2.5%;

    }
    header{
        display : flex;
        flex-direction: column;
    }
    .aa_logo{
        text-align: center;
        margin-top: 2.5%;
    }
    header img {
        margin: 0;
        padding: 0;
    }
    .aa_contact p, p.resp, .aa_about-me p{
        max-width : 87%;
        text-align: justify;
        margin: auto;
    }
}